*{
  padding: 0;
  margin: 0;
  font-family: fantasy;
}

.App {
  max-width: 600px;
  max-height: 600px;
  margin: auto;
  /* height: 600px; */
  height: auto;
  border-radius: 5px;
  background-color: rgb(212, 235, 224);
  padding: 20px;
  overflow-y: scroll;
}

h1, h2, h4, h6 {
  text-align: center;
  padding: 5px;
} 

#subtitle{
  text-align: center;
  padding-bottom: 15px;
}

.errors{
  color: red;
}

.img-list-websites{
  color: white;
}

/* icons */
.back-icon{
  width: 25px;
  height: 25px;
  margin: 10px 15px;
  color: #3F6A48;
}

.back-icon:hover, .edit-icon:hover, .delete-icon:hover{
  color: #DAA82C;
  border: 1px solid #DAA82C;
}

.edit-icon{
  color: #047AF6;
  width: 25px;
  height: 25px;
  margin: 10px 15px;
}

.delete-icon{
  color: rgb(94, 94, 104);
  width: 25px;
  height: 25px;
  margin: 10px 15px;
  cursor: pointer;
  display: inline-block;
}

/* Base Buttons */
.MuiButtonBase-root:hover{
  border: 1px solid #DAA82C;
}

button.MuiButtonBase-root{
  border: 2px solid #3F6A48;
  box-shadow: 7px 2px 2px #3F6A48;
}

button.MuiButtonBase-root.MuiIconButton-root.makeStyles-icon-6{
  border: none;
  box-shadow: none;
}

a{
  text-decoration: none;
  color: black;
  font-weight: bolder;
  display: inline-block;
}

#add-new-product-btn{
  display: block;
}

.home-pg-btns{
  justify-content: space-between;
  display: flex;
  margin: 20px;
}

.makeStyles-menuButton-2{
  box-shadow: none;
  border: none;
}

.makeStyles-menuButton-2:hover{
  box-shadow: none;
  border: none;
  color: #DAA82C;
}

#delete-handler{
  display: inline-block;
}

/* Tabs */
.MuiTab-textColorPrimary{
  border: none!important;
  box-shadow: none!important;
}

.product{
  margin: 10px;
  font-size: x-large;
  color:rgb(94, 94, 104);
  text-decoration: none;
}


/* Products */
.user-made-products{
  text-decoration: none;
}

.user-made-products:hover{
  text-decoration: underline;
  text-decoration-color: #DAA82C;
}

input{
  margin-left: 10px;
}

ul{
  margin-left: 20px;
}


/* Form Labels */
#app-title{
  text-decoration: none;
  color: white;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.product-details, .form-label{
  margin: 15px;
  font-size: 1.3rem;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font: weight 200px;
}

#product-details-title, #edit-title, #create-product-title, #all-products-title{
  margin: 20px;
  font-size: 1.6rem;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: 400;
  display: inline-block;
  text-align: center;
}

.product-details-input, .form-input{
  font-size: 1.2rem;
}

p{
  margin-bottom: 15px;
}

/* Titles */
#edit-title{
  margin-bottom: 30px;
}

#tips-title{
  text-align: center;
  display: inline-block;
  /* vertical-align: top;
  padding-top: 10px; */
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight:normal;
}

#ann-arbor{
  font-size:larger;
  color: black;
  display: inline-block;
}



