*{
  padding: 0;
  margin: 0;
  font-family: fantasy;
}

.App {
  max-width: 600px;
  margin: auto;
  height: 600px;
  border-radius: 5px;
  background-color: rgb(212, 235, 224);
  padding: 20px;
}

h1, h2, h4, h6 {
  text-align: center;
  padding: 5px;
} 

#subtitle{
  text-align: center;
  padding-bottom: 15px;
}

.errors{
  color: red;
}

.img-list-websites{
  color: white;
}

.back-icon{
  width: 25px;
  height: 25px;
  margin: 10px;
  color: #DAA82C;
}