*{
  padding: 0;
  margin: 0;
  font-family: fantasy;
}

.App {
  max-width: 600px;
  max-height: 600px;
  margin: auto;
  height: auto;
  border-radius: 5px;
  background-color: rgb(212, 235, 224);
  padding: 20px;
  overflow-y: scroll;
}

h1, h2, h4, h6 {
  text-align: center;
  padding: 5px;
} 

#subtitle{
  text-align: center;
  padding-bottom: 15px;
}

.errors{
  color: red;
}

.img-list-websites{
  color: white;
}

/* icons */
.back-icon{
  width: 25px;
  height: 25px;
  margin: 10px;
  color: #DAA82C;
}

.edit-icon{
  color: #047AF6;
  width: 25px;
  height: 25px;
  margin: 10px;
}

.delete-icon{
  color: rgb(94, 94, 104);
  width: 25px;
  height: 25px;
  margin: 10px;
}

.product{
  margin: 20px;
  font-size: x-large;
  color:rgb(94, 94, 104);
}

#delete-handler{
  display: inline-block;
}

